    .form{
        width: 40%;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        padding: 25px;
        margin: 100px auto;
        border: 2px  solid rgb(106, 153, 34);
    }

    input{
        width: 40%;
        height: 40px;
        margin: 0 30%;
        border: 1px solid rgb(106, 153, 34);
    }   

    textarea{
        width: 40%;
        height: 140px;
        margin: 0 auto;
        resize: none;
        border: 1px solid rgb(106, 153, 34);
    }

    button{
        width: 35%;
        height: 35px;
        margin: 0 auto;
        cursor: pointer;
        border: none;
        border-radius: 8px;
        background: rgb(106, 153, 34);
        color: white;

    }